.link {
    text-decoration: underline;
    color: #007bff;
  
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: auto;
  
  }
  
  .link:hover{
    color: #1a4068;
  }
  
  .button {
    display: inline-block;
  
    border: 1.5px solid rgb(221, 221, 221);
    border-radius: 20px;
    margin-top: auto;
  
    background-color: white;
    color: black;
  
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #0057d9;
    color: white;
  }